.LoginCard, .SignupCard{
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  background-color: white;
  border: 1px solid rgb(213, 208, 208);
  margin: 5px;
  padding: 15px;
}

/*Form container*/
.auth-container{
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin: 5px 20px;
}
h2{
    margin: 10px;
    text-align: center;
}
label{
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.5em 0;
}
input{
  border: none;
  border-bottom: 1px solid gray;

  &:focus{
    outline: none !important;
  }
}

.auth-item{
  display: flex;
  flex-direction: column;
  p{
    font-size: 0.80rem;
    color: rgb(84, 82, 82);
    padding: 2px;
  }
}
.auth-date-item{
  background-color: rgb(249, 249, 249);
  padding: 0 6px;
  display: flex;
  flex-direction: row;
  .date-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    label{
      margin:0 7px;
    }
    input{
      background-color: rgb(249, 249, 249);
      width: 50px;
      margin-right: 4px;
      padding: 2px;
      font-size: 17px;
    }
    select{
      text-align: center;
      font-size: 17px;
      padding: 5px;
      margin: 0 7px;
      border-radius: 5px;
    }
  }
}

p.error-message{
  background-color: rgb(238, 77, 77);
  color: white;
  text-align:center;
  margin: 1px;
}
/*Button container*/
.button-container{
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  button{
      background-color: hsla(237, 94%, 54%, 0.755);
      color: white;
      padding: 14px 20px;
      margin: 8px;
      border: none;
      cursor: pointer;
      border-radius: 12px;
    &:hover{
      opacity: 0.9;
    }
    &.cancel{
      border: 1px solid rgb(244, 67, 54);
      background-color: white;
      color:rgb(244, 67, 54);
    }
    &.login-button{
      width: 100%;
      border-radius: 16px;
    }
  }
}